<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" href="#">Bira Silk</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Produtos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
          Configurações
        </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container body-content">

    <router-outlet></router-outlet>
    <hr />

</div>

<!--
<span defaultOverlayTarget></span>
<h1>angular2-modal{{version}}</h1>
<h2>Basic Modal sample</h2>
<button (click)="onClick()">Alert</button>
<br>
<h2>Custom Modal example:</h2>
<button (click)="openCustom()">Custom Modal</button>
<p>
    <b>IMPORTANT:</b> Since 'AdditionCalculateWindow' is never explicitly used (in a template) we must tell angular about
    it by adding it to the <strong>entryComponents</strong> property in the module meta.
</p>

<h2>See systemjs.config.js implementation for UMD vs module loading</h2>


<!--@*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false) -->


<!--<button type="button" class="btn btn-default" (click)="dialog.open()">Open me!</button>

<button type="button" class="btn btn-default" (click)="open()">Open me!</button>

<dialog-box #dialog ></dialog-box>

<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="closed()" (onDismiss)="dismissed()"
    (onOpen)="opened()" [cssClass]="cssClass" #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">I'm a modal!</h4>
    </modal-header>
    <modal-body>
        <ul>
            <li *ngFor="let item of items">
                <a href="#" (click)="$event.preventDefault(); selected = item">{{ item }}</a>
            </li>
        </ul>
        <p *ngIf="selected">Selected: <b>{{ selected }}</b></p>
    </modal-body>
    <modal-footer [show-default-buttons]="true"></modal-footer>
</modal>-->